/* There are different ways on how to reference elements in a stylesheet.
by the element tag name.
by the class name.
by id name */

body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
/* Flexbox helps to position elements inside a container. 
We set flex properties on the parent element (container) 
to make elements inside the container move. */

/* <Header> is our container so we will be setting the display property of 
header to flex. The class name for header is 'page-header'. we use dot (.) 
before the name when referring to class names in css files.*/
.page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    background-color: #75DDDD;
}

/* The navbar itself is not in rows, because the lists are inside the <ul> 
container. Hence we need to use flexbox on it to display the elements in rows. */
.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* add space between nav links and remove underlines on links */
.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

/* The <main> tag holds all the divs displayed in the page. 
So we should add the grid style on the <main> tag so its children could be aligned in a grid manner. */
.items {
    /* 80% the width of it's parent  */
    width: 80%;
    /* centered since the margin on the left and right will be equal ( */
    margin: auto;
    /* arrange it's children in a grid  */
    display: grid;
    /* 4 equal sized columns */
    grid-template-columns: repeat(4, 1fr);
    /* gap of 1em between columns and rows */
    grid-gap: 1em;
}

/* Add another style to target each image in the items and size them to fit their grid cell. */
.items img {
    width: 100%;
    /* height should stay proportional to the width  */
    height: auto;
}

.item {
    
    border: #75DDDD;
    border-width: 6px;
}

.item p {
    display: flex;
    font-size: 15px;
}
.item p:nth-child(2) {
    color: blue;
}

.item p:nth-child(3) {
    color:blueviolet;
}

.item button {
    background-color: orangered;
    color: white;
    display: block;
    margin: auto;
}
